body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    /* background: url(../img/desktopimage.JPEG);
    opacity: 0.5;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat; */
}

#nav {
    height: 100px;
    background: url(img/desktopimage.JPEG);
    /* opacity: 0.5; */
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    margin-bottom: 100px;
}

#nav img {
    flex-basis: 5%;
    margin-top: 20px;
    margin-left: 40px;
}

#nav h3 {
    color: white;
    padding: 20px;
    flex-basis: 40%;
}

#nav ul {
    padding: 20px;
    list-style: none;
    float: right;
    display: flex;
    flex-basis: 50%;
    color: white;
}

#nav li {
    padding: 0 15px;
    
}

#nav a {
    text-decoration: none;
    color: white;
}
#nav a:hover {
    text-decoration: none;
    color: rgb(161, 118, 118);
}
#nav > a:visited {
    text-decoration: none;
    color: rgb(48, 20, 20);
}

#life {
    margin: 0 100px;
    background: rgba(250, 100, 200, 0.1);
    text-align: center;
    padding: 65px 0;
    height: 300px;
    text-shadow: 3px 2px gray;
}

#life h3 {
    padding: 10px;
    animation: text-mvt 5s ease-in-out 0 infinite normal;
}

@keyframes text-mvt {
    0% {transform: translate(5px 5px) translate(-5px -5px);}
}

#deeds {
    margin: 0 100px;
    display: flex;
}

#deeds img {
    flex-basis: 70%;
}

#deeds .text {
    flex-basis: 50%;
    padding-right: 30px;
    padding-top: 160px;
    padding-left: 50px;
    text-align: left;
    font-size: large;
}

#deeds .text h2 {
    font-weight: 600;
}

#deeds button {
    background: rgb(197, 17, 17);
    height: 40px;
    cursor: pointer;
    animation: color-switch 15s ease-in-out 0 infinite normal;
}

@keyframes color-switch {
    0% {
        background: rgb(248, 180, 180);
    }

    10% {
        background: rgb(65, 63, 63);
    }

    20% {
        background: rgb(138, 30, 30);
    }

    30% {
        background: red;
    }

    40% {
        background: rgb(160, 160, 66);
    }

    50% {
        background: yellow;
    }

    60% {
        background: rgb(81, 81, 161);
    }

    70% {
        background: blue;
    }

    80% {
        background: skyblue;
    }

    90% {
        background: rgb(58, 121, 146);
    }

    100% {
        background: gray;
    }
}

#pics {
    margin-top: 150px;
    display: flex;
    image-rendering: crisp-edges;
}

#pics img {
    flex-basis: 20%;
}

#footer {
    display: flex;
    height: 200px;
    color: white;
    background: rgb(27, 26, 26);
}

#footer .words {
    padding-top: 60px;
    padding-left: 30px;
    flex-basis: 60%;
}

#footer .pics {
    float: right;
    align-items: flex-end;
    flex-basis: 40%;
    padding-left: 500px;
    padding-top: 30px;
}


/* page 2 -- About Us */

#history {
    height: auto;
    /* border: 1px solid black; */
    margin: 0 100px;
}

#history .first {
    display: flex;
}

.first img {
    float: right;
    flex-basis: 65%;
    border-radius: 40%;
}

.first p {
    flex-basis: 30%;
    text-align: center;
}

#history .second {
    display: flex;
    background: cornsilk;
    border-radius: 2%;
}

.second img {
    float: right;
    flex-basis: 40%;
    border-radius: 2%;
    margin-left: 20px;
}

.second p {
    flex-basis: 60%;
    text-align: center;
    padding-top: 100px;
}


#history .third {
    display: flex;
}

.third img {
    float: right;
    flex-basis: 40%;
    border-radius: 2%;
    margin-left: 20px;
}

.third p {
    flex-basis: 60%;
    text-align: center;
    padding-top: 100px;
}


#history .fourth {
    display: flex;
    background: cornsilk;
    border-radius: 2%;
}

.fourth img {
    float: right;
    flex-basis: 40%;
    border-radius: 2%;
    margin-left: 20px;
}

.fourth p {
    flex-basis: 60%;
    text-align: center;
    padding-top: 100px;
}

#history h1 {
    text-align: center;
    margin-top: 90px;
}

.fifth {
    display: flex;
}

.fifth img {
    border-radius: 50%;
    margin: 15px;
    align-items: center;
}

.fifth p {
    text-align: center;
}


/* page 3 -- Services */

#services {
    height: auto;
    /* border: 1px solid black; */
    margin: 0 100px;
    display: flex;
}

#heading p {
    text-align: center;
    margin-bottom: 30px;
}

#services .images {
    flex-basis: 60%;
    /* border: 1px solid rgb(66, 61, 61); */
    padding: 30px;
    margin: 30px;
}

#services .images .div-icon {
    display: inline-block;
}


#services .images .div-icon1 {
    background: black;
    border: 1px solid black;
    width: 10px;
    height: 10px;
    margin: 5px;
}

#services .images .div-icon2 {
    background: black;
    border: 1px solid black;
    width: 30px;
    height: 1px;
    margin: 5px;
}

#services .images .div-icon3 {
    background: black;
    border: 1px solid black;
    width: 50px;
    height: 1px;
    margin: 5px;
}

#services .images .div-icon4 {
    background: black;
    border: 1px solid black;
    width: 70px;
    height: 1px;
    margin: 5px;
}


#services .images img {
    width: 500px;
    height: 250px;
    border-radius: 40%;
    padding-left: 150px;
    padding-top: 20px;
    animation: boxsize 20s ease-in-out 0 infinite normal normal;
}

#services .images img:hover {
    width: 515px;
    height: 265px;
    transition: ease-in-out;
}

@keyframes boxsize {
    0% {
        width: 500px;
        height: 250px;
    }

    10% {
        width: 525px;
        height: 275px;
    }

    20% {
        width: 550px;
        height: 300px;
    }

    30% {
        width: 575px;
        height: 325px;
    }

    40% {
        width: 600px;
        height: 350px;
    }

    50% {
        width: 550px;
        height: 300px;
    }

    60% {
        width: 500px;
        height: 275px;
    }

    70% {
        width: 475px;
        height: 250px;
    }

    80% {
        width: 450px;
        height: 225px;
    }

    90% {
        width: 425px;
        height: 200px;
    }

    100% {
        width: 400px;
        height: 175px;
    }
}

#services .sidebar {
    flex-basis: 25%;
    /* border: 1px solid rgb(66, 61, 61); */
    float: right;
    padding: 30px;
    margin: 30px;
}

#services .sidebar p {
    background: coral;
    border-radius: 3px;
    border: 1px solid black;
    padding: 5px 5px;
}



/* page 4 -- blogs */

#blogs {
    height: auto;
    border: 1px solid black;
    margin: 0 100px;
    display: flex;
}

#blogs .writes {
    flex-basis: 60%;
}
#blogs .write {
    border: 1px solid black;
    border-radius: 10px;
    background: blanchedalmond;
    height: 300px;
    margin: 30px;
    text-align: center;
    padding-top: 300px;
    flex-basis: 70%;
}

#blogs .images {
    flex-basis: 20%;
    padding: 7px;
    float: right;
    margin: 0 150px;
}

#blogs .images img {
    margin-top: 20px;
    width: 200px;
    height: 605px;
}

#rotate {
    display: flex;
    border: 1px solid black;
    margin: 30px 75px;
    width: 1200px;
    padding-left: 120px;
}

#rotate img {
    flex-basis: 20%;
    margin: 0px 40px;
}

/* page 5 -- contacts */

#contacts {
    height: auto;
    border: 1px solid black;
    margin: 0 100px;
}

